.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.center-top {
  top: 50%;
  transform: translate(0, -50%); }

#menu-bar {
  user-select: none;
  position: relative;
  display: block;
  width: 100%;
  font-size: 18px;
  overflow: hidden;
  height: 80px;
  z-index: 3;
  background-color: #ffdd00; }
  #menu-bar #logo-bara {
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    display: block;
    left: 15px;
    z-index: 50; }
  #menu-bar .home-link {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 50; }
  #menu-bar .icons-position {
    height: 80px;
    padding: 0 !important; }
  #menu-bar #nav-icon3 {
    width: 60px;
    height: 45px;
    display: block;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
    position: absolute;
    margin-top: 25px;
    right: 15px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 20; }
    #menu-bar #nav-icon3 span {
      display: block;
      position: absolute;
      height: 5px;
      width: 90%;
      background: #3a281b;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out; }
      #menu-bar #nav-icon3 span:nth-child(1) {
        top: 0; }
      #menu-bar #nav-icon3 span:nth-child(2) {
        top: 10px; }
      #menu-bar #nav-icon3 span:nth-child(3) {
        top: 10px; }
      #menu-bar #nav-icon3 span:nth-child(4) {
        top: 20px; }
    #menu-bar #nav-icon3.open span:nth-child(1) {
      top: 18px;
      width: 0;
      left: 50%; }
    #menu-bar #nav-icon3.open span:nth-child(2) {
      transform: rotate(45deg); }
    #menu-bar #nav-icon3.open span:nth-child(3) {
      transform: rotate(-45deg); }
    #menu-bar #nav-icon3.open span:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%; }
  #menu-bar a {
    color: #231810;
    text-decoration: none !important; }
    #menu-bar a:visited {
      text-decoration: none; }
  #menu-bar ul {
    position: relative;
    display: block;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0; }
    #menu-bar ul li {
      position: relative;
      display: inline-block;
      vertical-align: top; }
      #menu-bar ul li a .link_text {
        padding: 27px 10px; }
        #menu-bar ul li a .link_text:hover {
          background-color: #fcf3c0;
          text-decoration: none; }
      #menu-bar ul li .link_text:hover + ul {
        display: block; }
      #menu-bar ul li ul {
        display: none;
        position: absolute;
        list-style: none;
        left: 0;
        top: 80px !important;
        padding: 0;
        margin: 0; }
  #menu-bar div:last-child {
    height: 80px; }

.center-left {
  left: 50%;
  transform: translate(-50%, 0); }

.noselect {
  user-select: none; }

.the_cart {
  position: absolute;
  display: block;
  right: 30px;
  background-color: black;
  height: 50px;
  width: 200px;
  z-index: 99999; }

@media only screen and (max-width: 800px) {
  .the_cart {
    position: relative;
    width: 100%;
    right: 0; }

  @-webkit-keyframes fadeinout {
    0% {
      opacity: 0; }
    50% {
      opacity: .5; }
    100% {
      opacity: 1; } }
  @keyframes fadeinout {
    0% {
      opacity: 0; }
    50% {
      opacity: .5; }
    100% {
      opacity: 1; } }
  #nav-icon3 {
    pointer-events: auto !important;
    z-index: 1 !important;
    opacity: 100 !important; } }
.f-nav {
  position: fixed !important;
  z-index: 999 !important;
  top: 0 !important;
  transition: all .2s ease; }

.footer {
  position: relative;
  display: block;
  width: 100%;
  background-color: #070504;
  padding: 20px; }
  .footer ul {
    position: relative;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .footer ul li {
      position: relative;
      display: inline-block;
      padding: 0 10px; }

/*# sourceMappingURL=bar-css.css.map */
